html {
  background-color: #181a1b !important; 
  margin-top: 10rem;
}

.title, .label, .input-is-primary {
  color: white;
}

.input-is-primary {
  background-color: #25212200;
}

.blue {
  background-color: #053f38; 
  color: rgb(100, 255, 232);
}