<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Monitoring</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

  <section class="section">
    <div class="container">

      <h1 class="title">
        Look at this data from your PC:
      </h1>

      <div class="notification blue">
        {% for item in array %}
        {{ item }} <br>
        {% endfor %}
      </div>

  </section>
</body>

</html>